#helper-icon {
    background-image: url(icon/template.svg);
}
.dialog-title {
    text-align: center;
}
.half {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(50% - 10px);
    display: inline;
}
.half-input {
    width: calc(50% - 26px);
}
.block {
    text-align: center;
    display: inline-block;
    width: 49%;
}
